.margin{padding: 0.5rem;}
button{cursor: pointer;}
.uil{cursor: pointer;}


.shop-feature{
    width: 100vw;
    place-items: center;
    padding: 3rem 0;
}

.shop-main-container{
    width: 90vw;
    margin-inline: auto;
    margin-block: 2rem;
}

.shop-title{
    justify-content: space-between;
    align-items: center;
}

.shop-title select{
    padding: 0.5rem;
    border-radius: 2rem;
}

.shop-product{
    margin-block: 2rem;
}
.product-list{
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 1rem;
    position: relative;
}

.product-list:hover,
.product-list:focus{
    color: hsl(var(--clr-red));
}

.product-list img{
    border-radius: 1rem;
}

.shop-btn{
    align-items: center;
    --flex-gap: 3rem;
    transform: translateX(-30%);
    transition: transform 250ms ease-in-out;
    cursor: pointer;
}

.product-list:hover .shop-btn{
    transform: translateX(0%);
}

.shop-btn button{
    border: 0;
    
}